%p#notice= notice

%p
  %b Content:
  = @feedback.content

= link_to 'Edit', edit_contest_entry_feedback_path(@contest, @entry, @feedback)
\|
= link_to 'Back', contest_entry_feedbacks_path(@contest, @entry)
